
#contact {
  box-sizing: border-box;
 
}
body
{
    background-color: rgba(128, 128, 128, 0.342);
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: rgb(244, 240, 240);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
#contact .container {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.342);

  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
    text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
    
}
#footer h1 {
    color: white;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
    margin-left: 28pc;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
    
}
#footer .social-item img {
	filter: grayscale(1);
    height: 100%;
	width: 100%;
	object-fit: cover;
}
#footer .social-item:hover img {
	filter: grayscale(0);
    
}
#footer p {
	color: white;
	font-size: 1.3rem;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}